*{
    margin: 0;
    padding: 0;
}

.bdy{
    background-color: rgb(245, 245, 245);
}


.nav2{
    width: 100%;
    height: 36px;
    display: flex;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.starlg{
    width: 13px;
    height: 13px;
    margin-left: 100px;
}

.lg{
    width: 100%;
    height: 100%;
}

.sell{
    margin-top: 7px;
    color: rgb(255, 153, 0);
    padding-left: 5px;
    font-size: 12px;
}

.nav2k{
    width: 100px;
    height: 28px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    margin-left: 250px;
}

.nav2k1{
    width: 70px;
    height: 28px;
    font-size: 13px;
    font-weight: 500;
    border: none;
    margin-left: 5px;
}

.nav3{
    height: 70px;
    background-color: white;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.jummyd{
    width: 130px;
    height: 23px;
    margin-left: 100px;


}

.jummy{
    width: 100%;
    height: 100%;
    margin-top: 25px;

}

.inp{
    width: 550px;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 17px;
    margin-left: 80px;
}
.search{
    width: 90px;
    height: 40px;
    background-color: rgb(255, 153, 0);
    border-radius: 5px;
    margin-top: 17px;
    margin-left: 9px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow:  0px 3px 5px #888888;
}

.profile{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin-top: 17px;
    margin-left: 3px;
    font-weight: bold;

}

.help:hover{
    color: rgb(255, 153, 0);
}

.accountdropdw{
    width: 200px;
    height: 250px;
    background-color: white ;
    border-style: hidden;
}


.drop{
    width: 180px;
    height: 30px;
    margin: 10px 2px;
    font-size: 13px;
    font-weight: lighter;
}

.help{
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin-top: 17px;
    font-weight: 500;
    position: relative;
    
}

.helpdrop{
    width: 250px;
    height: 300px;
    background-color: white ;
    border-style: hidden;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    display: none;
    margin-top: 20px;
    position: absolute;
    right: -80px;

}

.helpul{
color: black;
}

.helpcon{
    height: 40px;
    color: black;
    margin-top: 2px;
    text-decoration: none;
    text-align: start;
    font-weight: lighter;
    font-size: 16px;
    /* margin: 5px; */
    border: 1px solid whitesmoke;
    margin-left: 5px;
    padding-left: 5px;
}

.helpcon:hover{
    background-color: lightgrey;
}

.help:focus-within .helpdrop{
    display: block;
}

.container{
    background-color: white;
    width: 100%;
    margin-top: 20px;

}
.empty{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-top: 20px;
}

.circle1{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-left: 500px;
    margin-top: 40px;

    border: 1px solid lightgrey;
}

.your{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.browse{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.start{
    text-align: center;
    width: 180px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 153, 0);
    font-size: 16px;
    font-weight: 500;
    margin-left: 470px;
    margin-top: 20px;

}

.toppi{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    width: 1141px;
    margin-left: -12px;
    border-top-left-radius: 5px;
    border-start-end-radius: 5px;

}



.topps{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 5px;
    border: none;
    color: rgb(255, 153, 0);
    background: none;
}

.con2{
    width: 100%;
    height: 300px;
    display: flex;
}

.top:hover{
    box-shadow:  2px 2px 10px 5px lightgray;

}

.updiv{
    margin-left: -50px;

}

.top{
    width: 220px;
    height: 285px;
    border-radius: 3px;
    margin: 3px;

}

.immdii{
    width:195px;
    height:130px;
    }
    
    .imm{
        width: 100%;
        height: 100%;
        border-radius: 3px;
    
    }
    .write{
        font-size: 14px;
    }
    .money{
        font-size: 16px;
        margin-top: -10px;
    }
    .money2{
        font-size: 13px;
        margin-top: -10px;
        text-decoration: line-through;
        font-weight: 50;
    }

    .add{
        width: 150px;
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        border: none;
        margin-top: 0px;
        text-align: center;
        background-color: rgb(228, 129, 28);
        box-shadow:  5px 5px 15px 5px lightgrey;

    }


    /* FOOTER */

    
.black{
    display: flex;
    height: 180px;
    width: 1349px;
    margin-top: 100px;
    background-color: black;
}
.black1{
    width: 316px;
    height: 190px;
    margin: 5px 5px;
    display: flex;
    margin: 1px solid white;
    margin-left: 100px;
}
.black2{
    width: 496px;
    margin: 5px 5px;
    height: 190px;
    margin: 1px solid white;

}
.black3{
    width: 295px;
    height: 190px;
    margin: 5px 25px;
    margin: 1px solid white;

}

.jum{
    width: 170px;
    height: 60px;
    margin-top: 30px;
}
.jumm{
    width: 80%;
}
.geda2{
    width: 25px;
    margin-left: -35px;
    margin-top: 35px;

}

.gedalogo{
    width: 100%;
}

.tojumia{
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding-left: 5px;
    margin-top: 40px;

}

.subscribe{
    font-size: 12px;
    color: lightgray;
    padding-left: 5px;
    font-weight: lighter;
}

.subscribe2{
    font-size: 12px;
    color: lightgray;
    padding-left: 5px;
    font-weight:400;
}

.subscribe2:hover{
    text-decoration: underline;
}

.gmailflex{
    display: flex;
}

.gmail{
    width: 240px;
    height: 50px;
    border: none;
    margin: 10px 5px;
    border-radius: 5px;
}

.gender{
    width: 85px;
    height: 50px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid white;
    background-color: black;
    margin: 10px 5px;
    border-radius: 5px;
}

.download{
    display: flex;
}
.play{
    display: flex;
}

.yellow{
    width: 50px;
    height: 45px;
    margin: 35px 10px;
    border-radius: 5px;
    background-color: rgb(255, 153, 0);
}

.play1{
    width: 120px;
    height: 50px;
    margin: -10px 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.play2{
    width: 120px;
    height: 50px;
    margin: -10px 1px;
    border-radius: 5px;
    border: 1px solid white;
}

.blackdiv2{
    display: flex;
    height: 500px;
    width: 1349px;
    background-color: rgb(50, 50, 50);

}


.divv1{
    margin-left: 100px;
    width: 320px;
    height: 400px;
}

.divv2{
    margin-left: 10px;
    width: 280px;
    height: 400px;
}

.divv3{
    margin-left: 0px;
    width: 230px;
    height: 400px;
}

.divv4{
    margin-left: 20px;
    width: 290px;
    height: 400px;
}
.lethelp{
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding:10px 5px;
    margin-top: 16px;

}

.lethelp2{
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding:10px 5px;
    margin-top: 50px;

}
.lethelp3{
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding:10px 5px;
    margin-top: 26px;

}

.jumiaint{
    display: flex;
}

.int1{
    margin-left: 5px;
    width: 120px;
    height: 150px;
    margin-top: -5px;
}
.int2{
    margin-left: 5px;
    width: 120px;
    height: 150px;
    margin-top: -5px;
}